html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', serif;
    background-color: #EEE;
    color: #171717;
}

#proteccion-de-datos {
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 1;
}

#caja-mail {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo {
    justify-content: center;
    display: flex;
}

a {
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 15px;
    background-color: #4E729A;
    color: #FFF;
    border: none;
    text-decoration: none;
}

.caja-boton {
    margin: 10px 0;
}

#logo img {
    max-width: 400px;
}